name: Run Smoke Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Install dependencies
      run: |
        pip install pytest selenium
    
    - name: Startup HTTP Server
      uses: Eun/http-server-action@v1.0.11
      with:
        directory: ./cse270/teton/1.6/
        port: 5000
    
    - name: Run tests
      run: |
        cd tests
        pytest
